
<h4>users</h4>
<div *ngFor="let user of users$|async">
  <div *ngIf="editingUser !== user">
    id: {{user.id}},
    name: {{user.name}},
    age: {{user.age}}
    <button (click)="showDetail(user)">detail</button>
    <button (click)="editUser(user)">edit</button>
  </div>
  <div *ngIf="editingUser === user">
    edit:
    name: <input [(ngModel)]="edit.name" #>
    <div *ngIf="">name required</div>
    age: <input [(ngModel)]="edit.age">
    <button (click)="editingUser = undefined">cancel</button>
    <button (click)="updateUser(edit)">save</button>
  </div>
</div>
<br>
<a routerLink="add">add</a><br>
<br>
<div><a href="javascript:void(0)" (click)="showJson = !showJson">toggle json</a></div>
<pre *ngIf="showJson">{{users$|async|json}}</pre>

<router-outlet></router-outlet>
